.nav-pills li:hover {
  background-color: black;
}


body {
  margin: 0;
  padding: 0;
  background-color: #fefeff;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}


.grid-container {
  display: flex;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

.page-content {
  flex: 6;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_navbar {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_navbar {
  margin-right: 25px;
}

/* Navbar */
.navbar {
  grid-area: header;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  box-shadow: 0 6px 7px -3px #e9e7e7;
}

.menu-icon {
  display: none;
}

.dropDownProfile {
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: 100px;
  padding: 3px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid grey;
}

.dropDownProfile::before {
  content: '';
  position: absolute;
  /* top: -0.7rem; */
  /* right: 1.1rem; */
  width: 20px;
  height: 1px;
  background-color: white;
  /* transform: rotate(180deg); */
  border-left: 1px solid grey;
  border-top: 1px solid grey;
}

/* End navbar */


/* Sidebar */
#sidebar {
  flex: 1;
  grid-area: sidebar;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.nav-pills li:hover {
  background-color: black;
}

.list-group span:hover {
  background-color: rgb(35, 35, 141);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.lgoutbutton {
  margin-right: 10px;
  padding: 5px 15px;
  background: transparent;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

p {
  text-size-adjust: 1px;
}

small {
  color: grey;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* End sidebar */


/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(0, 0, 0, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  width: 310px;
}

.second-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 300px;
}

.big-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  width: 637px;
  background-color: gold;
  border-color: goldenrod;
  height: 250px;
}

.img-col {
  float: left;
  width: 40%;
  background-color: gold;
  border-color: goldenrod;
  padding: 10px;
}

.article {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: gold;
  border-color: goldenrod;
}

.card:first-child {
  background-color: #cbd7fa;
}

.card:nth-child(2) {
  background-color: #fdf9b9;
}

.card:nth-child(3) {
  background-color: #d3fad5;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner>.card_icon {
  font-size: 40px;
}

/* End Main  */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .navbar-left {
    display: none;
  }
}

.artical1 {

  float: left;
  padding: 20px;
  width: 60%;
  background-color: hsl(117, 83%, 91%);
  border-color: rgb(31, 176, 21);
  width: 310px;
  height: 250px;
}